@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background:rgb(255, 255, 255) !important;
  background-image: url('./assets/znak_keune.svg') !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background: rgb(255, 255, 255);
  height: 550px;
  display: none;
  cursor: pointer;   
}


